<app-layout>
  <div class="jumbotron">
    <h5>Angular CLI + Bootstrap & FontAwesome</h5>
    <p>
      In this tutorial you learn how to use Angular CLI with Bootstrap and FontAwesome!
    </p>
    <hr>
    <app-toggle></app-toggle>
    <hr>
    <h5 class="text-center text-capitalize">angular directives</h5>
    <app-ng-if></app-ng-if>
    <app-ng-for></app-ng-for>
    <app-ng-switch></app-ng-switch>
    <hr>
    <h5 class="text-center text-capitalize">displaying data</h5>
    <app-displaying-data></app-displaying-data>
  </div>
</app-layout>

